body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}